<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.vote.dao.MatchPkInfoDao">


    <select id="get" resultType="MatchPkInfo">
                   SELECT
         a.*,
         b.playerId "firstPlayer.playerId",b.playerName "firstPlayer.playerName",b.playerImage "firstPlayer.playerImage",
         c.playerId "secondPlayer.playerId",c.playerName "secondPlayer.playerName",c.playerImage "secondPlayer.playerImage",
         d.matchName,d.matchTime,d.matchInfo
         FROM matchpkinfo a
        LEFT JOIN player b ON a.firstPlayerId = b.playerId
        LEFT JOIN player c ON a.secondPlayerId = c.playerId
        LEFT JOIN matchtable d ON a.matchId = d.matchId
        <where>
             d.matchId=#{matchId}  AND battleFlag=1

             <if test="playerName!=null and playerName!=''">
                 and playerName like "%"#{playerName}"%"
             </if>
             <if test="matchName!=null and matchName!=''">
                 and matchName like "%"#{matchName}"%"
             </if>


         </where>
    </select>

    <select id="select" resultType="MatchPkInfo">
        SELECT
        a.*,
        b.playerId "firstPlayer.playerId",b.playerName "firstPlayer.playerName",b.playerImage "firstPlayer.playerImage",
        c.playerId "secondPlayer.playerId",c.playerName "secondPlayer.playerName",c.playerImage "secondPlayer.playerImage",
        d.matchName,d.matchTime,d.matchInfo
        FROM matchpkinfo a
        LEFT JOIN player b ON a.firstPlayerId = b.playerId
        LEFT JOIN player c ON a.secondPlayerId = c.playerId
        LEFT JOIN matchtable d ON a.matchId = d.matchId
        <where>
        d.matchId=#{matchId}

            <if test="playerName!=null and playerName!=''">
                and playerName like "%"#{playerName}"%"
            </if>
            <if test="matchName!=null and matchName!=''">
                and matchName like "%"#{matchName}"%"
            </if>
            <if test="battleFlag!=null and battleFlag!=''">
                AND battleFlag=1
            </if>

        </where>
    </select>

    <select id="playerList"  resultType="Matchpkinfo">
        select  a.*,
         b.playerId "firstPlayer.playerId",b.playerName "firstPlayer.playerName",b.playerImage "firstPlayer.playerImage",b.playerInfo "firstPlayer.playerInfo",
         c.playerId "secondPlayer.playerId",c.playerName "secondPlayer.playerName",c.playerImage "secondPlayer.playerImage",c.playerInfo "secondPlayer.playerInfo",
         d.matchName,d.matchTime,matchInfo
         FROM matchpkinfo a
        LEFT JOIN player b ON a.firstPlayerId = b.playerId
        LEFT JOIN player c ON a.secondPlayerId = c.playerId
        LEFT JOIN matchtable d ON a.matchId = d.matchId
        where d.matchId=#{matchId}
    </select>


    <select id="selectMatchPkInfo" resultType="Matchpkinfo">

		  select  a.*,
         b.playerId "firstPlayer.playerId",b.playerName "firstPlayer.playerName",b.playerImage "firstPlayer.playerImage",b.playerInfo "firstPlayer.playerInfo",
         c.playerId "secondPlayer.playerId",c.cname "secondPlayer.playerName",c.playerImage "secondPlayer.playerImage",c.playerInfo "secondPlayer.playerInfo",
         d.matchName,d.matchTime,matchInfo
         FROM matchpkinfo a
        LEFT JOIN player b ON a.firstPlayerId = b.playerId
        LEFT JOIN course c ON a.secondPlayerId = c.cid
        LEFT JOIN matchtable d ON a.matchId = d.matchId
       order by battleId
   </select>


    <!--<insert id="insert" parameterType="MatchPkInfo">
     insert  into matchpkinfo(firstSongName,firstTicketCount,firstNeedScore,
     firstScore,secondSongName,secondTicketCount,secondNeedScore,secondScore)
    values (#{firstSongName},#{firstTicketCount},#{firstNeedScore},#{firstScore},
    #{secondSongName},#{secondTicketCount},#{secondNeedScore},#{secondScore})

    </insert>-->

    <insert id="insert" parameterType="MatchPkInfo">
     insert  into matchpkinfo(matchId,battleId,firstPlayerId,firstSongName,firstTicketCount,firstNeedScore,
     firstScore,secondSongName,secondTicketCount,secondNeedScore,secondScore,battleFlag,grade)
    values (#{matchId},#{battleId},#{firstPlayerId},#{firstSongName},#{firstTicketCount},#{firstNeedScore},#{firstScore},
    #{secondSongName},#{secondTicketCount},#{secondNeedScore},#{secondScore},#{battleFlag},#{battleFlag})
    </insert>

    <delete id="delete" parameterType="matchpkinfo">
         delete  from  matchpkinfo where battleId=#{battleId}
    </delete>

    <update id="update" parameterType="matchpkinfo">
          update matchpkinfo
          <set>
              <if test="matchId!=null and matchId!=''">
                  matchId=#{matchId},
              </if>
              <if test="firstSongName!=null and firstSongName!=''">
                  firstSongName=#{firstSongName},
              </if>
              <if test="firstTicketCount!=null and firstTicketCount!=''">
                  firstTicketCount=#{firstTicketCount},
              </if>
              <if test="firstNeedScore!=null and firstNeedScore!=''">
                  firstNeedScore=#{firstNeedScore},
              </if>
              <if test="firstScore!=null and firstScore!=''">
                  firstScore=#{firstScore},
              </if>
              <if test="secondSongName!=null and secondSongName!=''">
                  secondSongName=#{secondSongName},
              </if>
              <if test="secondTicketCount!=null and secondTicketCount!=''">
                  secondTicketCount=#{secondTicketCount},
              </if>
              <if test="secondNeedScore!=null and secondNeedScore!=''">
                  secondNeedScore=#{secondNeedScore},
              </if>
              <if test="secondScore!=null and secondScore!=''">
                  secondScore=#{secondScore},
              </if>
              <if test="battleFlag!=null and battleFlag!=''">
                  battleFlag=#{battleFlag},
              </if>
          </set>
        where  battleId=#{battleId}
    </update>

    <update id="updateAllFlag" >
        update matchpkinfo set battleFlag=0
      where matchId=#{matchId}
    </update>
    <select id="selectById" parameterType="MatchPkInfo" resultType="MatchPkInfo">
   		select * from matchpkinfo where battleId=#{battleId}
   </select>

    <select id="selectListByGradeAndMatchId" parameterType="MatchPkInfo" resultType="MatchPkInfo">
        select a.grade,a.firstPlayerId,p.playerName as firstSongName ,c.cname as secondSongName,a.secondPlayerId  from matchpkinfo a  left join course c on c.cid = a.secondplayerId left join player p on
        p.playerId =  a.firstPlayerId
        where a.matchId=#{matchId} and a.grade =#{grade}
    </select>
</mapper>
